* {
    color: #3b3b3b;
}
/* MODAL CSS */
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    overflow: hidden;
}

.modal-body {
    padding: 20px;
}

.detail {
    margin-bottom: 15px;
}

.detail-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.detail-value {
    margin: 0;
}

/* Close button styles */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.close-btn:hover {
    color: #e74c3c; /* Change to your preferred hover color */
}

/* Modal Animation */
.modal.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Overlay animation */
.modal.fade-in .modal-content {
    transform: translateY(-50px);
    opacity: 0;
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*  */
.application-number {
    font-size: 1.6rem;
}
.docs {
    display: flex;
    flex-direction: column;
}
.doc-btn {
    width: 40%;
}
a {
    text-decoration: none;
    color: #ffff;
}
/* CSS */
.button-5 {
    width: 70%;
    align-items: center;
    background-clip: padding-box;
    background-color: #4ab3e0;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
        Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.button-5:hover,
.button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    text-decoration: none;
    color: #ffff;
}

.button-5:hover {
    transform: translateY(-4px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}

/* CSS */
.btn-set{
    display: flex;
    justify-content: end;
}
.complied {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
        Ubuntu, sans-serif;
    font-size:20px;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.3s, box-shadow 0.08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
}
.complied:hover{
    border-radius: 100px;
    background-color: #4ab3e0;
}
.complied:disabled {
    cursor: default;
}

.complied:focus {
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
        rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.doc-grp {
    margin-top: 5vh;
    display: flex;
    gap: 10vh;
    align-items: center;
}
.left-col {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-col {
    width: 100%;
}
.remarks-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-style: italic;
}
.doc-label {
    font-size: 1.5rem;
}
.remarks {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3b3b3b;
}

@media only screen and (max-width: 600px) {
    .doc-grp {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}
