*{
    color: #3B3B3B;
}
.application-number{
    font-size: 1.6rem;
}
.docs {
    display: flex;
    flex-direction: column;
}
.doc-btn {
    width: 40%;
}
a {
    text-decoration: none;
    color: #ffff;
}
/* CSS */
.button-5 {
    width: 70%;
    align-items: center;
    background-clip: padding-box;
    background-color: #4AB3E0;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
        Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.button-5:hover,
.button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}

.doc-grp{
    margin-top: 5vh;
    display: flex;
    gap: 10vh;
    align-items: center;
}
.left-col{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-col{
    width: 100%;
}
.remarks-header{
    font-size: 1.2rem;
    font-weight: bold;
}
.doc-label{
    font-size: 1.5rem;
}
.remarks{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3B3B3B;
}

@media only screen and (max-width: 600px) {
    .doc-grp{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }


}

