
*{
    color: #3b3b3b;
}


.auth-hdr{
    font-size: 3rem;
    color: #07275A;
    font-weight: bold;
}
.caap-logo{
    height: auto;
    width: 400px;
}
.col-hdr{
    margin-top: 30px;

}
.head-title{
    color: #07275A;
    font-size: 4rem;
    line-height: 50px;
    font-weight: bold;
}
.subtitle{
    margin-top: 20px;
    font-size: 25px;
    color: #969696;
    font-style: italic;
}

.login-main{
    padding-top: 6vh;
}
.login-hdr{
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 1px solid #969696;
}
.login-form{
    border-radius: 20px;
    padding: 5vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.forgot-pass-btn{
    text-decoration: none;
    color: #969696;
    text-align: center;
    font-style: italic;
}
.forgot-pass-btn:hover{
    color: #2F96D0;
    font-weight: bold;
    font-style: italic;
    transition: .1s ease-in-out;
}
.caps-warning{
    color: #DC3545;
    font-weight: bold;
    font-style: italic;
}
.alt-link{
    font-weight: bold;
    text-decoration: none;
    color: #3b3b3b;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}
.alt-link:hover{
    background-color: #FF8423;
    color: #ffff;
    border-radius: 15px;
    transition: 0.3s ease-in-out;

}
.form-card{
    margin-top: 4vh;
}

/* Input field CSS */
.user__details .input__box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user__details .input__box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--main-grey);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user__details .input__company{
    width: 100%;
    margin-bottom: 15px;
}
.user__details .input__company input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--main-grey);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
    border-color: #2f96d0;
}

/* CSS */
.button-30 {
    width: 100%;
  align-items: center;
  appearance: none;
  background-color: #2F96D0;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #F3F3F3;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
