:root {
    --hoverblue: #2d4e83;
    --scroll: #07275A;
    --platinum: #e5e5e5;
    --font: #07275A;
    --white: #ffff;
    --thumb: #edf2f4;
    --subtitles: #575757;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.getting-started-hdr {
    color: var(--font);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 1em;
}

.requirements {
    font-size: 30px;
    font-style: italic;
    color: var(--font);
}
.req-submessage{
    font-style: italic;
    color: #575757;
    font-size: 15px;
}
.number-hdr{
    color: #ef233c;
}

.cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    scroll-snap-align: start;
    transition: all 0.2s;
    width: auto;
    height: 450px;
}

.card:not(:last-child) {
    margin-right: 10px;
}

.card:hover {
    color: var(--white);
    background: var(--hoverblue);
}

.card .card-title {
    font-size: 20px;
    font-weight: bold;
}
.subtitle {
    font-style: italic;
    font-size: 15px;
}

.card .card-content {
    margin: 20px 0;
    max-width: 100%;
    text-align: justify;

}
#card-6{
    text-overflow: ellipsis;
}
.card .card-link-wrapper {
    margin-top: auto;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--hoverblue);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}


.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--scroll);
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }

    .card:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(25% - 30px);
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }
}
