.caap-logo{
    height: auto;
    width: 400px;
}
.col-hdr{
    color: #07275A;
    font-size: 3rem;
    font-weight: bold;
}
.login-card{
    background-color: #07275A;
    border-radius: 15px;
    padding: 50px;
    color: #ffff;
    width: 100%;
}
.login-hdr{
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #ffff;
}
.register-link{
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
    width: 100%;
}
.register-link:hover{
    background-color: #ffff;
    color: #07275A;

}
.form-card{
    margin-top: 4vh;
}
.login-btn{
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    background-color: #3EB9FF;
    border: none;
    color: #000000;
}
