.upload-hdr{
    font-size: 2rem;
    text-align: center;
}
.header-container{
    display: flex;
    gap: 4vh;
    align-items: center;
}
.circle {
    width: 50px; /* Adjust the width and height to create a circle */
    height: 50px; /* Adjust the width and height to create a circle */
    border-radius: 50%; /* Create a circle using border-radius */
    border: 2px solid #BABABA; /* Border style (you can adjust color and width) */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BABABA; /* Color of the number */
    font-weight: bold;
    font-size: 15px; /* Adjust the font size of the number */
}
.header-container .section-hdr{
    font-size: 35px;
    color: #07275A;
}


.selection-label{
    color: #3b3b3b;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;

}











/* @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .bg-indigo {
    background-color: #4835d4;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    } */
