@import url('https://fonts.googleapis.com/css2?family=Allura&family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.view-status-hdr{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}
.card-grp{
    display: flex;
    justify-content: center ;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    color: #3b3b3b;
    border: 1px solid #ddd;
    border-radius: 17px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-hdr {
    padding: 15px;
    font-family: 'DM Sans';
}
.app-num{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}
.card-body {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.owner-name, .owner-email{
    text-align: center;
}
.owner-name{
    font-size: 20px;
    color: #3b3b3b;
}
.owner-email{
    color: #969696;
    font-style: italic;
    font-size: 18px;

}
.btn {
    margin-top: 10px;
}

.view-application-btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #4AB3E0;
    color: #ffff;
    text-decoration: none;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* border-radius: 0 0 8px 8px; */
}

.view-application-btn:hover {
    background-color: #3498db;
    color: #ffff;
    text-decoration: none;

}

.not-found-img{
    height: auto;
    width: 300px;

}
.not-found-info{
    margin-top: 4vh;
    text-align: center;
}
.not-found-hdr{
    font-size: 3rem;
    font-weight: bold;
    color: #2D4E83;

}
.not-found-msg{
    font-size: 1.7rem;
    font-style: italic;
    color: #969696;
    font-weight: 100;
}
