.eval-main{
    margin-top: 5vh;
}
.application-result-hdr{
    font-size: 2.5rem;
    text-align: center;
    color: #07275A;
    margin-bottom: 25px;
}
.result-grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.application-result-hdr{
    font-size: 2rem;
    text-align: center;
    color: #07275A;
}
.result-img{
    margin-top: 7vh;
    width: auto;
    height: 350px;
}
.header-msg{
    margin-top: 4vh;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #07275A;
}
.sub-msg{
    margin-top: 3vh;
    text-align: center;
    color: #969696;
}

.return-home-btn{
    text-align: center;
    color: #4AB3E0;
    text-decoration: none;
    font-size: 18px;
    transition: .1s ease-in;
}
.return-home-btn:hover{
    font-weight: bold;
}
